.container {
    width: 1240px;
    margin: 0 auto;
}

.header {
    background-color: #F9F6F5;
}

.logo {
    color: #222;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 1.3; 
    text-decoration-line: underline;
}

.list-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 113px;
    text-decoration: none;
   
}

.links {
    display: flex;
    gap: 40px;
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;   
}

.profile {
    display: flex;
    gap: 24px;   
}

.top {
    
    background-color: #F9F6F5;
}

.top-inner {
    display: flex; 
    margin-bottom: 130px;  
}

.left-side {
    margin-left: 340px;
}

.title {
    max-width: 621px;
    margin-bottom: 30px;
    color: #000;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
}
.text {
    max-width: 516px;
    margin-bottom: 30px;
    color: #555;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
}

.right-side {
     
    
    margin-left: 140px;
   
}
.photo {
    width: 605px;
    height: 605px;
    background: none;
}

form {
    position: relative;
    width: 300px;   
}

  input {
    width: 326px;
    height: 48px;
    padding-left: 16px;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.43; 
    background: #FFF;
    color: #999;
}

.btn {
    position: absolute; 
    top: 11px;
    left: 302px;
    width: 32px;
    height: 32px;
    border: none;
    background: #402F2C;
}

.btn:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

.shop-btn {
    margin-top: 60px;
    padding: 16px 32px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    background-color: #402F2C;   
}


.container-logos {
    
    width: 1172px;
    margin: 0 auto;
}

.logo-two {
    display: flex;
    gap: 120px;
    margin-bottom: 130px;
   
  
}
.product {
    margin-bottom: 130px;
}


.product-title {
    color: #000;
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 1.3;
}

.product-text {
    max-width: 640px;
    color: #555;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
}

.product-contain {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.product-our {
    margin-left: 338px;
    color: #222;   
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    text-decoration-line: underline;
}

.arrow {
    padding-bottom: 26px;
}

.product-wrapper {
    display: flex;
    gap: 42px;
}

.box__title {
    margin-top: 20px;
    margin-left: 32px;
    color: #222;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.frame-left {
    width: 600px;
    height: 812px;
    flex-shrink: 0;
    border: 1px solid rgba(104, 90, 82, 0.19);

}

.frame-right {
    width: 600px;
    height: 812px;
    flex-shrink: 0;
    border: 1px solid rgba(104, 90, 82, 0.19);

}


.box__text {
    margin-top: 16px;
    margin-left: 32px;
    margin-bottom: 47px;
    max-width: 516px;
    color: #555;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6; 
}

.btn-wrap {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

.buy-now {
    display: inline-flex;
    margin-left: 32px;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.34; 
    color: #FFF;
    background-color: #402F2C;
}

.add-cart {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    color: #402F2C;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}

.price {
    display: flex;
    align-items: center;
    margin-left: 129px;
    color: #222;
    text-align: right;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 106.667% */
} 

.container__about-us {
    max-width: 1440px;
     margin-bottom: 130px;
}

.about-us {
   
    background-color: #F9F6F5;
}

.about-wrap {
    display: flex;
    justify-content: space-between;  
    
}   

.info {
    margin: 58px 67px 0 67px;
    color: #222;
    display: flex;
    justify-content: space-between;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
}

.line-wrap {
    margin: 0 67px 0 67px;
    display: flex;
    justify-content: space-between;
    
}

.line {
    width: 139px;
    height: 3px;
    background-color: #000;
}

.line2 {
    width: 112px;
    height: 3px;
    background-color: #000;
}

.line3 {
    width: 147px;
    height: 3px;
    background-color: #000;
}

.info-wrap {
    margin: 0 67px 0 67px;
    display: flex;
    padding-bottom: 58px;
    justify-content: space-between;
}

.info-desc {
    
    padding-top: 30px;
    color: #555;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
}


.product-top {
    display: flex;
    gap: 32px;
    
}


.left-title {
    max-width: 500px;
    margin-bottom: 20px;
    color: #000;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
}

.left__text {
    max-width: 570px;
    margin-bottom: 20px;
    color: #555;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
}

.left__text-two {
    max-width: 600px;
    padding-bottom: 50px;
    color: #555;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.shop__btn-two {
    margin-top: 60px;
    margin-bottom: 175px;
    padding: 16px 32px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    background-color: #402F2C;  
}

.container-top-two {
    width: 1240px;
    margin: 0 auto;
}

.product-bottom {
    display: flex;
    gap: 54px;
    margin-bottom: 130px;
}

.right-title {
    padding-bottom: 12px;
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
}

.right__text {
    max-width: 570px;
    padding-top: 43px;
    padding-bottom: 79px;
    color: #555;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
}

.name-designer {
    color: #222;
    padding-bottom: 10px;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
}

.text-work {
    color: #555;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

.subscribe {
    padding-top: 108px;
    background-color: #FAFAFA;
}

.subscribe-wrap {
    display: flex;
    text-align: center;
   

}

.subscribe-title {
    margin-left: 50px;
    margin-right: 350px;
    color: #222;
font-size: 31px;
font-style: normal;
font-weight: 500;
line-height: 46px; /* 127.778% */
}

form {
    position: relative;
}

.subscribe-email {
    display: block;
   
   
    background-color:#FFF;
}

.subscribe-btn {
    position: absolute;
    top: 2px;
    left: 235px;
    padding: 10px 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    background-color: #402F2C;
    color: #FFFFFF;
}

.subscribe-line {
    display: inline-block;
    margin-top: 64px;
    margin-left: 50px;
    margin-bottom: 60px;
    width: 1114px;
    height: 1px;
    color: #DDD;
}

.container-footer {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
} 

.footer {
    padding-bottom: 52px;
    background-color: #FAFAFA;
}

.footer-logo {
    margin-left: 140px;
    color: #222;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: 50px; /* 125% */
    text-decoration-line: underline;
}

.footer-text {
    max-width: 325px;
    margin-top: 39px;
    margin-left: 140px;
    color: #555;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8;
}

.name-links {
    margin-top: 20px;
    margin-right: 130px;
    margin-bottom: 10px;
    color: #222;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
}

.link {
    display: inline-block;
    margin-top: 20px;
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    text-decoration: none;  
}

.contact-links {
    margin-right: 170px;
}

.name-links1 {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #222;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
}

.link {
    display: inline-block;
    margin-top: 20px;
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    text-decoration: none; 
}
.social-wrap {
    display: flex;
    gap: 26px;
}

.social-link {
    cursor: pointer;
}

.icon {
    margin-top: 20px;
    
}













