.container {
    max-width: 1100px;
    height: 800px;
    margin: 0 auto;
    background-color: #C4C4C4;
  }
    
  .first,
  .second,
  .third {
    max-width: 1000px;
    height: 200px;
    margin: 0 auto;
    background-color: #E6E6E6;
  }
    
    .first-block-1 {
    width: 200px;
    height: 200px;
    float: left;
  }
  
  .first-block-2 {
    float: right;
    width: 200px;
    height: 200px;
  }
  
  .second-block-1 {
    width: 200px;
    height: 200px;
    float: left; 
  }
  
  .second-block-2,
  .second-block-3,
  .second-block-4,
  .second-block-5 {
    width: 100px;
    height: 100px;
    float: right;
    margin-left: 15px;
  }
  
  .third-block-1,
  .third-block-2 {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 15px;
  }
  
  .third-block-3,
  .third-block-4 {
    width: 200px;
    height: 200px;
    float: right;
    margin-left: 15px;
  }
    
  .first *,
  .second *,
  .third * {
    background-color: #FC8F8F;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: white;
   }